@import 'bootstrap/bootstrap';
@import 'fam';
@import 'filetree';

.pointer-events(@events) {
  -webkit-pointer-events: @events;
	 -moz-pointer-events: @events;
	  -ms-pointer-events: @events;
	   -o-pointer-events: @events;
		  pointer-events: @events;
}

#files-main {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	&:before {
		background: url('../img/cs-logo.svg');
		background-size: cover;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		content: "";
		opacity: 0.5;
		z-index: -1;
	}

	.filebrowser {
		height: 100%;
		padding: 0 !important;

		&.panes1 .filepane { width: 100%; }
		&.panes2 .filepane { width: 50%; }
		&.panes3 .filepane { width: 33.33333333333%; }
		&.panes4 .filepane { width: 25%; }
		&.panes5 .filepane { width: 20%; }

		&:after {
			content: "";
			height: 0;
			display: block;
			clear: both;
		}

		.filebrowser-topbar {
			.well;
			.well-small;

			line-height: 30px;
			text-align: center;
			margin-bottom: 0;
			background-color: rgba(245, 245, 245, 0.6);

			.btn-group {
				text-align: left;

				&.pull-right {
					margin-left: 5px;
				}
			}

			input[name="path"] {
				width: 70%;
				margin-bottom: 0;
			}
		}

		.filepane {
			// float: left;
			padding: 9px 9px 70px 10px;
			border-right: 1px solid #ddd;
			height: 100%;
			margin-top: 10px;
			background-color: rgba(255, 255, 255, 0.6);
			border-top: 1px solid transparent;
			position: relative;
			display: inline-block;
			vertical-align: top;
			color: @grayLight;

			.border-top-radius(@baseBorderRadius);
			.box-sizing(border-box);
			.transition(background-color 0.2s ease-in-out);

			&:last-child {
				border-right: none;
				padding-right: 10px;
			}

			&.new {
				background-color: fadeout(@blueDark, 90%);
			}
			&.focused {
				background-color: rgba(220, 220, 220, 0.6);
				border-top: 1px solid #ddd;
				color: @textColor;
			}
			&.removed {
				// width: 100px !important;
				// padding-left: 0;
				// padding-right: 0;
				// opacity: 0;
				// border-right: none;

				// .scale(0);
			}

			+ .filepane {
				.removePane {
					display: inline-block;
				}
			}

			.header {
				width: 100%;
				margin-bottom: 10px;

				.input-prepend, .input-append {
					margin-bottom: 0;
				}

				.left {
					float: left;
				}
				.right {
					float: right;

					&:first-of-type {
						button {
							border-radius: 0 !important;
						}
					}
					&:last-of-type {
						border-radius: 0 @baseBorderRadius @baseBorderRadius 0 !important;
					}
				}

				.search {
					display: block;
					overflow-x: hidden;

					input {
						width: 100%;
						height: 30px;

						.box-sizing(border-box);
					}
				}
			}
		}
	}
}