.file-tree {
	font-size: 12px;

	i {
		padding-right: 5px;
		vertical-align: text-bottom;
	}
	a {
		text-decoration: none;
		color: @textColor;
		display: block;
		padding: 2px 4px;

		&:hover {
			background: #eee;

			.border-radius(2px);
		}
	}
	input[type="checkbox"] {
		margin: 0;
		margin-bottom: 1px;
		margin-right: 5px;
	}

	.details {
		float: right;

		span {
			display: inline-block;
			text-align: right;
			margin-right: 15px;

			&[title="Permissions"] {
				font-family: monospace;
			}
			&[title="Created"], &[title="Modified"] {
				width: 130px;
			}
		}
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-left: 20px;

		.transition(all 0.5s ease-in-out);
	}
}