.file-tree {
	font-size: 12px;

	i {
		padding-right: 5px;
		vertical-align: text-bottom;
	}
	a {
		text-decoration: none;
		color: @textColor;
		display: block;
		padding: 2px 4px 2px 24px;
		position: relative;

		&:hover {
			background: #eee;

			.border-radius(2px);
		}
		&:after {
			content: "";
			clear: both;
			display: block;
		}
	}
	input[type="checkbox"] {
		margin: 0;
		position: absolute;
		top: 5px;
		left: 5px;
	}

	.name {
		display: inline-block;
		width: 200px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	.details {
		float: right;

		span {
			display: inline-block;
			text-align: right;
			margin-right: 15px;

			&[title="Permissions"] {
				font-family: monospace;
			}
			&[title="Created"], &[title="Modified"] {
				width: 65px;
			}
		}
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-left: 20px;

		li {
			clear: both;
		}
	}
}