@gradTopColour: #555;
@gradBotColour: #222;

#footerbar {
	height: 40px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;

	#gradient > .vertical(@gradTopColour, @gradBotColour);
	.box-shadow(0px 0px 10px rgba(0, 0, 0, 0.6));
	.transition(all 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000));

	&:before {
		position: absolute;
		top: 1px;
		right: 0;
		left: 0;
		border-top: 1px solid rgba(255, 255, 255, 0.5);
		content: "";
		z-index: 1;
	}

	> ul {
		margin: 0;
		padding: 0;
		list-style: none;
		border-right: 1px solid @gradTopColour;
		border-left: 1px solid @gradBotColour;
		font-size: 0;
		display: inline-block;

		li {
			display: inline-block;
			font-size: 14px;
			border-left: 1px solid @gradTopColour;
			border-right: 1px solid @gradBotColour;

			a {
				line-height: 40px;
				padding: 0 15px;
				display: inline-block;

				&:hover {
					i {
						opacity: 1;
					}
				}

				i {
					opacity: 0.7;

					.icon-white;
				}
			}
		}
	}

	.apps {
		img {
			max-width: 24px;
			max-height: 24px;
		}
	}

	.progress-container {
		float: right;
		padding: 0 15px;
		padding-right: 0;
		line-height: 40px;
		color: #fff;
		border-left: 1px solid @gradBotColour;
		position: relative;

		.text-shadow(0px 1px 0px #000);

		&:before {
			content: '';
			border-right: 1px solid @gradTopColour;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0px;
		}

		.progress {
			margin: 0px 5px;
			display: inline-block;
			width: 230px;
			vertical-align: middle;
		}
	}

	#toggle-progress-menu {
		padding: 3px;
		line-height: 40px;
	}

	#progress-menu {
		padding: 0;
		margin: 0;
		list-style: none;
		position: absolute;
		bottom: 40px;
		background: blue;
		left: 0;
		right: 10px;
		border: 1px solid rgba(0, 0, 0, 0.3);
		background: #eee;
		color: @textColor;
		overflow: hidden;
		display: none;

		.text-shadow(none);
		.box-sizing(border-box);
		.border-top-radius(@baseBorderRadius);
		.transition(opacity 0.2s linear);
		.box-shadow(0 0 10px rgba(0, 0, 0, 0.3));

		div.action {
			margin-bottom: 5px;
		}

		li {
			border-top: 1px solid #fff;
			border-bottom: 1px solid #ccc;
			padding: 10px 20px;

			&:first-child {
				border-top: none;

				div {
					margin-top: 0;
				}
			}
			&:last-child {
				border-bottom: none;
			}
		}

		.progress {
			margin: 0;
			height: 15px;
			width: 100%;
		}
	}
}