@gradTopColour: #555;
@gradBotColour: #222;

.colourButton(@col) {
	border-left-color: @col;
	border-right-color: darken(@col, 30%);

	#gradient > .vertical(lighten(@col, 10%), darken(@col, 15%));
	.transition(background 0.5s linear);

	&:hover {
		#gradient > .vertical(lighten(@col, 15%), darken(@col, 10%));
	}

	> a {
		padding: 0px 15px;
	}
}

#slideout-clock {
	.calendar {
		margin-bottom: 20px;
	}

	.time-source {
		.timezone {
			.save {
				width: 100%;
			}
		}

		label {
			margin-top: 5px;
			font-weight: bold;

			input[type="radio"] {
				margin-right: 5px;
			}
		}

		input[type="radio"] {
			float: left;
		}

		fieldset {
			margin-left: 20px;
			margin-top: 5px;
			
			.uneditable-input {
				width: 100%;
				height: 30px;

				.box-sizing(border-box);
			}

			button {
				vertical-align: top;
			}

			> div {
				margin-top: 10px;
			}

			.manual-date {
				[class^="span"] > * {
					margin-bottom: 0;
				}
			}
		}

		.form-block > div {
			clear: both;
		}
	}
}

#slideout-levels {
	input.slider {
		width: 266px;
	}

	.progress {
		height: 14px;
	}
}

#slideout-pairing {
	.slideout-header {
		input {
			width: 40px;
			text-align: right;
			margin-left: 5px;
			display: inline-block;
			padding: 0;
		}
	}

	.buttons {
		margin-top: 10px;
	}
}

#statusbar {
	position: relative;
	z-index: 100;
	border-bottom: 1px solid #000;
	height: 40px;

	#gradient > .vertical(@gradTopColour, @gradBotColour);
	.box-shadow(0px 0px 10px rgba(0, 0, 0, 0.6));

	&:before {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		content: "";
		z-index: 1;
	}

	#dln-menu {
		.colourButton(@blue);

		&.open {
			i {
				.rotate(-180deg);
			}
		}
		
		i {
			.transition(all 0.5s ease-out);
		}
	}

	#power {
		.colourButton(@orange);
	}

	#time {
		> a {
			> span {
				font-weight: bold;
			}
		}
	}

	> ul {
		height: 40px;
		list-style: none;
		margin: 0 10px;
		border-right: 1px solid @gradTopColour;
		border-left: 1px solid @gradBotColour;

		> li {
			min-height: inherit;
			float: left;
			border-left: 1px solid @gradTopColour;
			border-right: 1px solid @gradBotColour;
			position: relative;

			&.pull-right {
				float: right;

				&:last-child {
					position: relative;
					overflow: visible;

					&:before {
						content: "";
						border-left: 1px solid @gradBotColour;
						position: absolute;
						top: 0;
						bottom: 0;
						left: -2px;
					}
				}
			}

			&.icon {
				> a {
					> i {
						opacity: 0.7;

						.icon-white;
					}
					&:hover {
						i {
							opacity: 1;
						}
					}
				}
			}

			&.divider {
				margin: 0;
				padding: 0;
				border-left: 1px solid @gradTopColour;
				border-right: 1px solid @gradBotColour;
				line-height: 40px;
				color: #666;
				text-align: center;
				padding: 0 15px;

				.text-shadow(0px -1px 0px #000);

				&:before {
					content: "\2022";
				}
			}

			> a, > span {
				display: block;
				color: #ccc;
				line-height: 40px;
				padding-left: 10px;
				padding-right: 10px;
			}

			> a {
				&:hover {
					color: #fff;
					text-decoration: none;
				}
				&.open {
					span {
						color: #fff;
					}
					i {
						opacity: 1;
					}
				}
			}
			> span {
				font-weight: bold;
			}
		}
	}
}

.panel.information {
	h2 {
		float: right;
		margin-right: 320px;
	}
		
	#info-sidebar {
		position: absolute;
		overflow: hidden;
		border: 1px solid #ddd;
		right: 10px;
		top: 10px;
		bottom: 10px;
		width: 300px;

		.border-radius(@baseBorderRadius);
		.box-shadow(0 0 10px rgba(0, 0, 0, 0.3));

		h3 {
			border-bottom: 1px solid #eee;
			padding: 10px;
			margin: 0;
			font-size: 24px;
			line-height: 30px;
		}

		.mouse-scroll-container {
			position: absolute;
			bottom: 0;
			width: 100%;
			top: 51px;
			overflow: hidden;

			> div {
				padding: 10px;

				h4:first-child {
					padding-top: 0;
				}
			}
		}
	}
}

#omnibox {
	min-height: inherit;
	position: relative;
	display: block;
	overflow-x: hidden;
	overflow-y: visible;
	float: none !important;
	border: none !important;

	&.open {
		.search:before {
			content: "";
			bottom: 0;
			left: 0;
			right: 0;
			height: 1px;
			background: @gradBotColour;
			position: absolute;
			z-index: 2;
		}
	}

	> div {
		overflow-y: visible;

		div.search {
			width: 100%;
			height: 40px;
			padding: 0 10px;
			border-left: 1px solid @gradTopColour;
			border-right: 1px solid @gradBotColour;
			position: relative;

			.box-sizing(border-box);

			input[name="search"] {
				background: #ddd;
				color: #000;
				border-color: #333;
				margin: 5px 0 0;
				height: 30px;
				width: 100%;

				.box-sizing(border-box);
				.box-shadow(inset 0px 10px 15px rgba(0, 0, 0, 0.2));
				.border-radius(@baseBorderRadius);

				&::-webkit-input-placeholder { /* WebKit browsers */
					color: #444;
				}
				&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
					color: #444;
				}
				&::-moz-placeholder { /* Mozilla Firefox 19+ */
					color: #444;
				}
				&:-ms-input-placeholder { /* Internet Explorer 10+ */
					color: #444;
				}

				&:active, &:focus {
					.box-shadow(e('inset 0px 10px 15px rgba(0, 0, 0, 0.2), 0px 0px 10px rgba(255, 255, 255, 0.3)'));
				}
			}

			a {
				position: absolute;
				right: 10px;
				top: 4px;
				padding: 0 10px;
				line-height: 30px;
				z-index: 100;
			}
		}

		.results {
			background: @gradBotColour;
			// display: none;

			#gradient > .vertical(@gradBotColour, @gradTopColour);
			.border-bottom-radius(@baseBorderRadius);

			ul {
				margin: 0;
				padding: 10px 0;
				list-style: none;

				li {
					&.selected {
						a {
							background: #333;
							background: rgba(255, 255, 255, 0.3);
						}
					}

					a {
						padding: 4px 18px;
						display: block;
						color: #fff;
						text-decoration: none;

						&:hover {
							background: #333;
							background: rgba(255, 255, 255, 0.35);
						}
					}
				}
			}
		}
	}
}