@import 'bootstrap/bootstrap.less';
<<<<<<< HEAD
@import 'bootstrap/responsive.less';

<<<<<<< HEAD
@deviceCol: @orange;
@localCol: @purple;
@networkCol: @green;

@deviceColLight: lighten(@deviceCol,10%);
@localColLight: lighten(@localCol,10%);
@networkColLight: lighten(@networkCol,10%);

.animation(@animation) {
  -webkit-animation: @animation;
	 -moz-animation: @animation;
	   -o-animation: @animation;
		  animation: @animation;
}
.transform-origin(@origin) {
  -webkit-transform-origin: @origin;
	 -moz-transform-origin: @origin;
	  -ms-transform-origin: @origin;
	   -o-transform-origin: @origin;
		  transform-origin: @origin;
}
.text-shadow(@shadow) {
  -webkit-text-shadow: @shadow;
	 -moz-text-shadow: @shadow;
	  -ms-text-shadow: @shadow;
	   -o-text-shadow: @shadow;
		  text-shadow: @shadow;
}

.align-right {
	text-align: right;
}

.icon-large {
	background: center center no-repeat;
	width: 40px;
	height: 40px;
	margin: 0;
	padding: 0;

	&.icon-users { background-image: url('../img/icons/users.png'); }
	&.icon-tools { background-image: url('../img/icons/tools.png'); }
	&.icon-clock { background-image: url('../img/icons/clock.png'); }
	&.icon-dial { background-image: url('../img/icons/dial.png'); }
	&.icon-qrcode { background-image: url('../img/icons/qrcode.png'); }
	&.icon-info { background-image: url('../img/icons/info.png'); }
	&.icon-play { background-image: url('../img/icons/play.png'); }
	&.icon-play-button { background-image: url('../img/icons/play-button.png'); }
	&.icon-schedule { background-image: url('../img/icons/schedule.png'); }
	&.icon-gears { background-image: url('../img/icons/gears.png'); }
	&.icon-settings { background-image: url('../img/icons/hammer-classic.png'); }
	&.icon-moon { background-image: url('../img/icons/moon.png'); }
	&.icon-disk { background-image: url('../img/icons/disk.png'); }
	&.icon-roundabout { background-image: url('../img/icons/roundabout.png'); }
	&.icon-software { background-image: url('../img/icons/software.png'); }
	&.icon-questionmark { background-image: url('../img/icons/question-mark.png'); }
	&.icon-usb { background-image: url('../img/icons/usb.png'); }
	&.icon-globe { background-image: url('../img/icons/globe.png'); }

	&.icon-xinix { background-image: url('../img/icons/xinix.png'); }
	&.icon-linux { background-image: url('../img/icons/tux.png'); }
	&.icon-apple { background-image: url('../img/icons/apple.png'); }
	&.icon-windows { background-image: url('../img/icons/windows.png'); }
}

.form-block {
	display: block;
	margin: 0;

	input[type="text"], input[type="password"] {
		width: 100%;
		height: 30px;

		.box-sizing(border-box);
	}
	input {
		&.uri {
			width: 71%;
			height: 30px;

			.box-sizing(border-box);
		}
		&.port {
			width: 25%;
			margin-left: 4%;
			height: 30px;

			.box-sizing(border-box);
		}
	}
	select {
		width: 100%;
	}
}
input[type="file"] {
	margin-bottom: 10px;
}
fieldset[disabled] {
	button {
		background: @blue;
		border-color: @blue;

		.text-shadow(none);

		&:hover, &:active, &:focus {
			background: @blue;
			border-color: @blue;
			cursor: default;

			.text-shadow(none);
			.box-shadow(none);
		}
	}
}

.accordion {
	dt, dd {
		padding: 0;
		margin: 0;
		font-weight: normal;
		padding: 5px;
	}

	dt {
		cursor: pointer;
		margin-top: 10px;

		.border-radius(@baseBorderRadius);

		&:first-child {
			margin-top: 0;
		}
		&:hover {
			background-color: #eee;
		}

		&.open {
			background-color: #eee;

			.border-bottom-radius(0);

			+ dd {
				.border-top-radius(0);
			}
		}
	}
	dd {
		display: none;

		ul.unstyled {
			li {
				padding: 8px 12px;
				margin-bottom: 3px;
				line-height: 14px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		ul.nav-stacked {
			margin-bottom: 0;
		}
	}

	&.accordion-small {
		dt {
			margin-top: 3px;
			// text-align: center;
		}
	}
}

.well {
	label {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.datepicker-container {
	.header {
		text-align: center;

		button.prev {
			float: left;
		}

		button.next {
			float: right;
		}

		div {
			line-height: 30px;
		}
	}

	table {
		border: 1px solid #ddd;
		margin-top: 10px;
		width: 100%;
		table-layout: fixed;

		th {
			font-weight: bold;
			padding: 2px 4px;
			text-align: center;
		}

		td {
			cursor: pointer;
			padding: 2px 4px;
			border-top: 1px solid #eee;
			text-align: center;

			&:hover {
				background: #eee;
			}

			&.previous, &.next {
				background: #f5f5f5;
				color: #666;

				&:hover {
					background: #eee;
				}
			}
			&.today {
				color: @blue;
			}
			&.selected {
				color: #fff;
				background: @blue;
			}
		}
	}
}

.slideout {
	position: fixed;
	top: 41px;
	bottom: 0;
	left: -280px;
	width: 250px;
	padding: 10px;
	// background: #fafafa;
	background: #fff;
	border-left: 1px solid #fff;
	z-index: 1031;
	overflow: hidden;
	opacity: 0.5;
	bottom: 0;

	.transition(e('all 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000)'));

	&.slideout-right {
		right: -280px;
		left: auto;

		.slideout-close {
			text-align: left;

			a {
				padding-left: 0;
			}
		}
	}

	&.open {
		left: 0;
		opacity: 1;

		.box-shadow(0px 0px 25px rgba(0, 0, 0, 0.4));

		&.slideout-right {
			left: auto;
			right: 0;
		}
	}

	.slideout-close {
		margin-bottom: 10px;
		float: none;
		text-align: right;
		border-bottom: 1px solid #ddd;
		padding-bottom: 5px;

		a {
			text-decoration: none;
			display: inline;
			font-weight: bold;
			font-size: 20px;
			color: @grayLight;
			padding-left: 10px;
			padding-right: 10px;

			&:hover {
				color: @gray;
			}
			&:before {
				content: "\00bb";
			}

			i {
				display: none;
			}
		}

		.slideout-header {
			float: right;
			font-weight: bold;
		}
	}
}

#main {
	position: fixed;
	top: 41px;
	right: 0;
	left: 0;
	bottom: 0;

	.panel {
		background: #fff;
		width: 100%;
		height: 100%;
		padding: 10px;
		position: absolute;
		z-index: 1;

		&.current {
			z-index: 2;
		}
	}
}

@import 'statusbar.less';
@import 'dln.less';

@import 'mrslyde.less';
=======
html {
	padding: 1%;
}
>>>>>>> 810d7ce54e5da8d1f85494f453695c347d81c9eb
