* { margin: 0; padding: 0; }

html {
/*	NOTE: if we use “min-height: 100%” instead of just “height: 100%” here, then the content of
	#Body will extend beyond the height of the window, with the background expanding as well.

	http://www.tutwow.com/htmlcss/quick-tip-css-100-height/
*/
  height: 100%;
  min-width: 700px;						/* used for firefox, Opera, and Netscape browsers.  IE has code in the actual html. */
}


body {
  height: 100%;
  font: 13px arial;
  color: #fff;
/*  background-color: #0055e3; */
  cursor: default; }

a, a:link, a:visited, a:active { color: #396AA4; font-weight: bold; text-decoration: none; }
a:hover { color: #fff; }

.button {
  padding: 0 15px;
  color: #396AA4;
  font-weight: bold;
  background-color: #4088ff;
  cursor: pointer;
  border: solid 1px #fff; }
.button:hover { color: #fff; background-color: #808080; }

.checkbox, .radio { position: absolute; }			/* used so the alignment becomes correct */

.combobox, .listbox, .password, .textbox, .textarea {		/* the combobox are multi-row listboxes */
  color: #fff;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 0.3em;
  box-shadow: 0 -3px 2px rgba(0,0,0,0.1), 0 3px 2px rgba(f,f,f,0.6); }
.textbox { padding: 1px 3px 1px; }

.disabled, .disabled:hover {
  color: #808080;
  background-color: #e8e8e8;
  cursor: default; }

h1 {
  font-size: 60px;
  color: #777;
  font-weight: bold; }

h2 {
  margin-top: 0;
  font-size: 14px;
  font-variant:small-caps;
  color: #000;
  letter-spacing: 2px;
  opacity: 0.4;
  text-align: center; }

h3 { }

img { }

p { margin-bottom: 20px; text-align: justify; }

ul { list-style: none; }
ul.ulTxt { width: 132px; }				/* applicable @ ul level */
ul.ulObj { width: 202px; }
ul .liSub { padding-left: 12px; color: #ccc; }		/* applicable @ li level; li "sub-category" */


.show { display: block; }				/* applicable globally */
.hide { display: none; }

.bold { font-weight: bold; }
.italic { font-style: italic; }
.underline { text-decoration: underline; }

.right { text-align: right; }
.center { text-align: center; }
.left { text-align: left; }
.justify { text-align: justify; }

.cleft  { clear: left; }
.cright { clear: right; }
.cboth  { clear: both; }
.fleft  { float: left; }
.fright { float: right; }
.noover { overflow: hidden; }
.curved { border-radius: 0.4em; }

.uroman { list-style-type: upper-roman; }
.lroman { list-style-type: lower-roman; }
.ulatin { list-style-type: upper-latin; }
.llatin { list-style-type: lower-latin; }
.ualpha { list-style-type: upper-alpha; }
.lalpha { list-style-type: lower-alpha; }
.decimal { list-style-type: decimal; }
.disc { list-style-type: disc; }
.circle { list-style-type: circle; }
.square { list-style-type: square; }

.note { color: #bbb; font-size: 10px; }

.divMsgs {							/* general message popup */
  margin: 10px 4px 20px 5px;
  padding-left: 80px;
  height: 52px;
  border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  overflow: auto; }
.divFail {							/* failure message popup */
  border: 1px solid #ff0000;
  background: #ffadad url(../images/errs.jpg) 15px 5px no-repeat; }
.divSucc {							/* success message popup */
  border: 1px solid #a9d260;
  background: #fafff1 url(../images/cfrm.gif) 15px 5px no-repeat; }
.divWarn {							/* warning message popup */
  border: 1px solid #7ca0bf;
  background: #f0f7fa url(../images/info.png) 15px 5px no-repeat; } 
